<mat-progress-bar mode="determinate" *ngIf="saveTimerCnt" [value]="saveTimerCnt"></mat-progress-bar>


<section>

  <header>
    <button (click)="logIn()" *ngIf="!userApp">Log In</button>
    <ng-container *ngIf="userApp">
      HI {{userApp.name}}! <button (click)="appLogOut()">Log Out</button>
    </ng-container>

  </header>

  <h1>Kanban Board</h1>
  <main>
    <div>
      <h2>Todo</h2>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="kanbanBoard.todo"
        [cdkDropListConnectedTo]="[inProcessList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of kanbanBoard.todo" cdkDrag>{{item}}</div>
      </div>
    </div>


   <div>
     <h2>Process</h2>
     <div
       cdkDropList
       #inProcessList="cdkDropList"
       [cdkDropListData]="kanbanBoard.inProcess"
       [cdkDropListConnectedTo]="[todoList, revisionList]"
       class="example-list"
       (cdkDropListDropped)="drop($event)">
       <div class="example-box" *ngFor="let item of kanbanBoard.inProcess" cdkDrag>{{item}}</div>
     </div>
   </div>


   <div>
     <h2>Review</h2>
     <div
       cdkDropList
       #revisionList="cdkDropList"
       [cdkDropListData]="kanbanBoard.revision"
       [cdkDropListConnectedTo]="[inProcessList, completeList]"
       class="example-list"
       (cdkDropListDropped)="drop($event)">
       <div class="example-box" *ngFor="let item of kanbanBoard.revision" cdkDrag>{{item}}</div>
     </div>
   </div>

    <div>
      <h2>Complete</h2>
      <div
        cdkDropList
        #completeList="cdkDropList"
        [cdkDropListData]="kanbanBoard.complete"
        [cdkDropListConnectedTo]="[revisionList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of kanbanBoard.complete" cdkDrag>{{item}}</div>
      </div>
    </div>

  </main>
</section>
